    <title>Timetool - Kunden</title>
{{!-- Body --}}
<div class="container-fluid m-0 py-3 px-2 fillHeight bg-white rounded">
  {{!-- Header --}}
  <div class="d-flex">
    <h3>Kunden</h3>
    <button type="button" class="btn p-0 ml-auto shadow-none addBtn" data-toggle="modal" data-target="#addModal"><h3 class="mdi mdi-plus m-0"></h3></button>
  </div>
  {{!-- Tablearea --}}
  <div class="table-responsive">
    <table class="table table-sm table-fixed" id="datatable">
      {{!-- Tablehead --}}
      <thead>
        <tr>
            <th scope="col" class="col-2 col-md-2">Nachname</th>
            <th scope="col" class="col-2 col-md-2">Vorname</th> 
            <th scope="col" class="col-2 col-md-2">Straße</th>
            <th scope="col" class="col-1 col-md-1">Hausnr.</th>
            <th scope="col" class="col-1 col-md-1">PLZ</th>
            <th scope="col" class="col-2 col-md-2">Stadt</th>
            <th scope="col" class="col-2 col-md-2">&nbsp;</th>
        </tr>
      </thead>
    
    {{!-- Tablebody --}}
      <tbody data-simplebar> 
        {{#each customers}}
          <tr class="d-flex">
            <td class="col-2 col-md-2 d-flex align-content-stretch">{{surname}}</td>
            <td class="col-2 col-md-2 d-flex align-content-stretch">{{firstname}}</td>
            <td class="col-2 col-md-2 d-flex align-content-stretch">{{street}}</td>
            <td class="col-1 col-md-1 d-flex align-content-stretch">{{housenum}}</td>
            <td class="col-1 col-md-1 d-flex align-content-stretch">{{zipcode}}</td>
            <td class="col-2 col-md-2 d-flex align-content-stretch">{{city}}</td>

            <td class="col-2 col-md-2 d-flex align-content-stretch justify-content-end">
              <a href="javascript:void(0);" class="btn mdi mdi-pencil-outline py-0 shadow-none editBtn"  
                data-id="{{ id }}"
                data-surname="{{ surname }}" 
                data-firstname="{{ firstname }}" 
                data-zipcode="{{ zipcode }}" 
                data-city="{{ city }}" 
                data-street="{{ street }}"
                data-housenum="{{ housenum }}"></a>
              <a href="javascript:void(0);" class="btn mdi mdi-delete-outline py-0 shadow-none deleteBtn" 
                data-id="{{ id }}"></a> 
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{!-- Modals --}}

{{!-- Modal to add Employee --}}
<form action="/submit-form" method="POST">
    <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="mdi mdi-plus"> Kunde</h3>
                    <h3 class="close mdi mdi-close m-0 p-1" data-dismiss="modal"></h3>
                </div>
                <div class="modal-body">      
                    <input type="hidden" name="tablename" value="customers"/>
                    <input class="form-control mb-2" type="text" name="surname" placeholder="Nachname" required />
                    <input class="form-control mb-2" type="text" name="firstname" placeholder="Vorname" required />
                    <input class="form-control mb-2" type="text" name="street" placeholder="Straße" required />
                    <input class="form-control mb-2" type="number" min="0" max="9999" name="housenum" placeholder="Nr." required/>
                    <input class="form-control mb-2" type="number" min="0" max="99999" name="zipcode" placeholder="PLZ" required />
                    <input class="form-control" type="text" name="city" placeholder="Stadt" required />
                    
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button> 
                        <button type="submit" class="btn btn-success">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Modal-->
<form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Kunden bearbeiten</h3>
                    <h3 class="close mdi mdi-close m-0 p-1" data-dismiss="modal"></h3>
                </div>
                <div class="modal-body">
                    <input class="form-control mb-2 surname" type="text" name="surname" placeholder="Nachname" required />
                    <input class="form-control mb-2 firstname" type="text" name="firstname" placeholder="Vorname" required />
                    <input class="form-control mb-2 street" type="text" name="street" placeholder="Straße" required />
                    <input class="form-control mb-2 housenum" type="number" min="0" max="9999" name="housenum" placeholder="Nr." required/>
                    <input class="form-control mb-2 zipcode" type="number" min="0" max="99999" name="zipcode" placeholder="PLZ" required />
                    <input class="form-control city" type="text" name="city" placeholder="Stadt" required />
                    
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" class="id" required>
                    <input type="hidden" name="tablename" value="customers" required>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button> 
                        <button type="submit" class="btn btn-success">Aktualisieren</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Customer Modal-->
<form id="add-row-form" action="/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Kunden löschen</h3>
                    <h3 class="close mdi mdi-close m-0 p-1" data-dismiss="modal"></h3>
                </div>
                <div class="modal-body">
                    <strong>Wollen sie wirklich diesen Kunden enfernen?</strong>
                </div>
                <div class="modal-footer">  
                    <input  type="hidden" name="id" class="form-control del_id" required>
                    <input  type="hidden" name="tablename" value="customers" required>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button> 
                        <button type="submit" class="btn btn-danger">Löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{{#section 'script'}}
<script>
    $(document).ready(function () {
        //showing data to modal for edit record
        $('#datatable').on('click', '.editBtn', function () {
            var id = $(this).data('id');
            var surname = $(this).data('surname');
            var firstname = $(this).data('firstname');
            var zipcode = $(this).data('zipcode');
            var city = $(this).data('city');
            var street = $(this).data('street');
            var housenum = $(this).data('housenum');
            $('#EditModal').modal('show');
            $('.surname').val(surname);
            $('.firstname').val(firstname);
            $('.zipcode').val(zipcode);
            $('.city').val(city);
            $('.street').val(street);
            $('.housenum').val(housenum);
            $('.id').val(id);
        });
        //showing modal for delete record
        $('#datatable').on('click', '.deleteBtn', function () {
            var id = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('.del_id').val(id);
        });
    });
</script>
{{/section}}